c-player *, c-player {
    margin: 0;
    padding: 0;
    line-height: normal;
    outline:none;
}

c-player {
    -webkit-user-select: none;
    -moz-user-select: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px -2px #000;
    color: #333;
    background:white;
}

c-player .lyric {
    /* display: none; */
    transition: all 0.25s;
    display: flex;
    height: 45vh;
    background: #eee;
    overflow: hidden;
}

c-player .list {
    transition: all 0.25s;
    height: 20vh;
    background: white;
}

c-player .main {
    display: flex;
    height: 6em;
}

c-player .main .image {
    /* flex: 1; */
    width: 6em;
    overflow:hidden;
}

c-player .main .control-bar {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.meta .music-name {
    font-size: 1.5em;
}

.meta .music-author::before {
    content: "- ";
    margin-left: 1em;
}

.time .time-body, .volume .volume-body {
    /*width: 98%;*/
    margin: 0 1%;
    height: 1px;
    background-color: #ccc;
    display: flex;
}

.time .time-line, .volume .volume-line {
    width: 0%;
    height: 1px;
    background-color: red;
}

.time .time-point, .volume .volume-point {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -5px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 5px -1px;
}

.volume .volume-body {
    width: 0em;
    visibility: hidden;
    transition: all 0.25s;
    /* margin: auto; */
}
.control .volume:hover .volume-body {
    width: 10em;
    visibility: visible;
}

.control-bar .meta {
    margin: 0.5em;
    flex: 1;
}

.lyric-button, .list-button, .volume-button {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
    background: 0 0;
    border: none;
    position: relative;
    margin: 0;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.lyric-button::-moz-focus-inner, .list-button::-moz-focus-inner, .volume-button::-moz-focus-inner {
    border: 0;
}

.lyric-button:hover, .list-button:hover, .volume-button:hover {
    background-color: rgba(158, 158, 158, 0.20);
}

.lyric-button:focus:not(:active), .list-button:focus:not(:active), .volume-button:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

.lyric-button:active, .list-button:active, .volume-button:active {
    background-color: rgba(158, 158, 158, 0.40);
}

.list-power, .lyric-power, .volume-power, .main .image::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
}

.lyric-power::before {
    content: "library_music";
}

.list-power::before {
    content: "queue_music";
}

.volume-power::before {
    content: "volume_up";
}

.volume-power.volume-mute::before {
    content: "volume_mute";
}

.control-bar .control {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1em;
}

.control .volume {
    display: flex;
    margin: 0 0 0 auto;
    align-items: center;
}

.control-bar .time {
    flex: 0.5;
}

.main .image:hover::before {
    background: rgba(100, 100, 100, 0.3);
    content: "pause_circle_outline";
    font-size: 6em;
    color: white;
}

.main .image::before {
    transition: 1s background 0s ease;
    content: "";
    position: absolute;
}

list-body {
    display: flex;
    flex-direction: column;
}

list-body > * {
    line-height: 2em;
    cursor: pointer;
    transition: 0.2s background 0s ease;
}

list-body > *:nth-child(2n-1) {
    background: rgba(177, 177, 177, 0.23);
}

list-body > *:hover {
    background: rgba(177, 177, 177, 0.5);
}

list-body > *::before {
    background: #F44336;
    transition: 0.2s width 0s ease;
    float: left;
    content: " ";
    height: 2em;
    width: 0em;
    display: block;
}

list-body > *:hover::before {
    background: #F44336;
    content: " ";
    width: 0.2em;
}

.list .music-name {
    float: left;
    padding: 0 0.5em;
}

.list .muaic-author {
    float: right;
    padding: 0 0.5em;
}

lyric-body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    text-align: center;
    margin: 6em auto;
    transition: all 0.25s;
}

lrc {
    line-height: 3em;
    font-size: large;
    font-family: "LiHei Pro", "微软雅黑", sans-serif;
    width: 100%;
    transition: 0.25s background ease;
}

lrc.now {
    background: #ddd;
}

.meta-bak {
    width: 100%;
}

.invisible {
    /*display: none !important;*/
    height: 0 !important;
}

.invisible list-body * {
    height: 0 !important;
    visibility: hidden;
}

.main .image.pause:hover::before {
    content: "play_circle_outline";
}