/*
* cPlayer --A beautiful(maybe not) and clean(maybe not also) WEB Music Player by HTML5.
* Author	Corps
*/

.player *{
	position: static; /* CLEAR */
}

/* Placeholder */
.player .placeholder {
	width: 100%;
	height: 100%;
	background-color: rgba(51,51,51,1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	transition: all 1s cubic-bezier(0, 0.55, 0.2, 1.11) 0s;
	-moz-transition: all 1s cubic-bezier(0, 0.55, 0.2, 1.11) 0s;
}

.player .placeholder:before{
	font-family: "Microsoft Yahei";
	content: "Loading...";
	margin:auto;
	color:#eee;
	text-shadow:0 0 3px #fff;
}

.player.white .placeholder:before{
	color:rgba(51,51,51,1);
	text-shadow:0 0 3px rgba(51,51,51,1);
}

.leng {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.player .left {
	-webkit-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
@media screen and (max-width: 500px){
	.player .right{
		display:none !important;
	}
}
@media screen and (max-width: 500px){
	.player .button{
		min-width:25% !important;
	}
}
@media screen and (max-width: 500px){
	.leng{
		width: 70% !important;
		float: right !important;
	}
}
.player .right {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.player button{
	z-index: 1;
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
}
.player:-webkit-full-screen{
	width:100%;
	height:100%;
	margin:0;
}
.player:-webkit-full-screen .player-primary{
	position:fixed;
	bottom:0;
	z-index:9999;
	left:0;
	right:0;
	padding:0.5em;
	opacity:0.5;
}
.player:-webkit-full-screen .lyric {
	width: 100%;
	height: 100%;
	font-size: 2.5em;
	line-height: 2.5em;
	z-index: 12;
}
.player{
	overflow: hidden;
	color:transparent;
	line-height: 0;
	min-height: 50px;
	background: rgba(51,51,51,1);
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0.75em;
	padding-right: 1.75em;
	box-sizing: border-box;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 3px 13px -2px #000;
	user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
}
.player-primary{
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.leng .clicks {
	transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	-moz-transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	height: 1em;
	float: left;
	background-color: rgb(73, 174, 232);
}
.leng .wall {
	width: 100%;
	height: 1em;
	overflow:hidden;
	background-color: rgba(78, 78, 78, 0.25);
	border-radius: 5px;
}

.leng .buffer{
	height: 100%;
	transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	-moz-transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	background-color: rgba(255,255,255,0.5);
}

.volume .v-wall {
	width: 100%;
	height: 1em;
	background-color: rgba(78, 78, 78, 0.25);
	border-radius: 5px;
	overflow: hidden;
}

.player .right button {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.volume {
	-webkit-flex: 10;
	    -ms-flex: 10;
	        flex: 10;
}

.volume .v-clicks {
	transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	-moz-transition: width 0.15s cubic-bezier(0.4, 0, 1, 1) 0s;
	height: 1em;
	float: left;
	background-color: rgb(73, 174, 232);
}
.lyric::before{
	content:"";
	width:100%;
	height: 3em;
	height: 10vh;
	display:block;
	background:-moz-linear-gradient(top,rgba(51,51,51,1),rgba(51,51,51,0));
	position:absolute;
	top:0;
	left:0;
	z-index:100;
}
.lyric::after{
	content:"";
	width:100%;
	height: 3em;
	height: 10vh;
	display:block;
	background:-moz-linear-gradient(top,rgba(51,51,51,0),rgba(51,51,51,1));
	position:absolute;
	bottom:0;
	left:0;
	z-index:100;
}
.lyric {
	height: 7em;
	height: 40vh;
	text-align: center;
	overflow: hidden;
	position: relative;
	font-size: 0.7em;
	line-height: 2em;
	list-style: none;
	margin: 1em;
	z-index: 10;
	color: #ddd;
	font-size: medium;
}
lrc {
	display: block;
	font-family: "Ubuntu","Microsoft JHenghei","微软雅黑";
	font-size: 1.5em;
	line-height: 2.1em;
}

.lyric-primary {
	z-index:-1;
	transition: all 0.25s linear 0s;
	-moz-transition: all 0.25s linear 0s;
}
.lyric-context {
	/* font-size: 1.7em; */
	color: #fff;
	/*font-family: "Ubuntu","Microsoft JHenghei","微软雅黑";
	line-height: 2em;*/
}

lrc:empty {
	height: 1.5em !important;
}

.player.white{
	background-color:rgba(255,255,255,0.9);
	box-shadow:0 3px 20px #ccc;
	border-radius:0px;
}
.player.white .lyric::before{
	background: -moz-linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0));
}
.player.white .lyric::after{
	background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
}
.player.white .lyric-context{
	color:#5ad;
}
.player.white .lyric{
	color:#222;
}
.player.white .placeholder{
	/*background-color: rgba(255,255,255,0.9); Just like the eyelids can't cover the eyes.*/
	background-color: white;
}

i.played {
	background: url(mdav.svg) 0 0 no-repeat;
}

i.paused {
	background: url(mdav.svg) 37.5% 62.5% no-repeat;
}

i.volume_mute {
	background: url(mdav.svg) 100% 50% no-repeat;
}

i.volume_up {
	background: url(mdav.svg) 100% 75% no-repeat;
}

.bc {
	background: 0 0;
	border: none;
	border-radius: 2px;
	color: #000;
	position: relative;
	height: 36px;
	min-width: 64px;
	padding: 0 8px;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	will-change: box-shadow,transform;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
}
.bc i {
	vertical-align: middle;
	text-transform: none;
	word-wrap: normal;
	word-break: normal;
	-webkit-text-fill-color: transparent;
	color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-12px,-12px);
	transform: translate(-12px,-12px);
	line-height: 24px;
	width: 24px;
	opacity: 0.5;
	-webkit-filter: invert(1);
	filter: invert(1);
}
.player.white .bc i{
	-webkit-filter: none;
	filter: none;
}

.player.video {
    padding: 0;
}

.player video {
    width: 100%;
}

.player.video .player-primary {
    padding: 1em 2em 1em 1em;
}
