

body{
	display:flex;
}
.play{
	margin:auto;
	position:relative;
	*{
    	height: 2em;
    	width: 0.2em;
    	position: absolute;
    	top: 0;
    	left: 0;
    	background: #000;
    	border-radius: 0.2em;
	}
	.l1{
		transform: translateX(-0.05em);
	}
	.l2{
	    transform: rotate(-60deg) translate(-50%, 0);
	    transform-origin: 0.025em 0.05em;
	    transition: all 0.5s ease-in;
	}
	.l3{
		transform: rotate(60deg) translate(-50%, 5%);
		transform-origin: 50% 100%;
		transition: all 0.5s ease-in;
	}
	&.pause{
		.l2{
			transform:rotate(0deg) translateX(1.5em);
		}
		.l3{
			transform:rotate(0deg) translateX(1.5em);
		}
	}
}