$name-prefix: "cp-";

$primaryColor: #F44336;
$primaryDarkColor: #B71C1C;
$accentLightColor: #BDBDBD;
$accentColor: #757575;
$accentDarkColor: #616161;
$TextColor: #424242;
$backgroundColor: #fff;
$base-font-size: 12px;
$enable-transitions: true;

@mixin transition($transition...) {
  @if $enable-transitions {
    transition: $transition;
  }
}

@function strip-units($number){
  @return $number / ($number * 0 + 1);
}

@function toem($target-size,$context:$base-font-size){
  @if not unitless($target-size){
    $target-size: strip-units($target-size);
  }
  @if not unitless($context){
    $context: strip-units($context);
  }
  @return ($target-size / $context) * 1em;
}

@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    } @else if $level == 2 {
        box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    } @else if $level == 3 {
        box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
    } @else if $level == 4 {
        box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
    } @else if $level == 5 {
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
    }
}

$mainbody-height: toem(50px);
$mainbody-width: toem(300px);

c-player {
    display: inline-block;
    position: relative;
    font-size: $base-font-size;
    &:hover {
        .#{$name-prefix}progress {
            opacity: 1;
            transform: scaleY(1) translateY(0%);
        }
    }
	.#{$name-prefix}mainbody {
        display: flex;
        align-items: center;
        flex-direction: row;
		    min-height: $mainbody-height;
        min-width: $mainbody-width;
        height: $mainbody-height;
        flex-wrap: wrap;
        background-color: $backgroundColor;
        position: relative;
        z-index: 1;
        @include box_shadow(1);
        > * {
            margin-right: toem(7px)
        }
        &:hover{
            & + .#{$name-prefix}drop-down-menu.#{$name-prefix}drop-down-menu-info {
                height: toem(25px);
            }
        }
    }
    .#{$name-prefix}drop-down-menu {
        $lineheight: 25px;
        $margin: 2px;
        margin: toem(0px) toem($margin) 0;
        display: block;
        text-align: center;
        font-size: toem(12px);
        line-height: toem($lineheight);
        background-color: rgba($backgroundColor, 0.6);
        position: relative;
        z-index: 0;
        height: toem(0px);
        overflow: hidden;
        @include box_shadow(1);
        @include transition(transform 0.25s ease 0.1s, height 0.25s ease 0.1s);
        span.#{$name-prefix}audio-title {
            max-width: toem(170px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span.#{$name-prefix}audio-artist {
            opacity: 0.6;
            max-width: toem(100px);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.#{$name-prefix}drop-down-menu-info .#{$name-prefix}playlist {
            display: none;
        }
        &.#{$name-prefix}drop-down-menu-info:hover {
            height: toem(25px);
        }
        &.#{$name-prefix}drop-down-menu-playlist .#{$name-prefix}audio-info {
            display: none;
        }
        &.#{$name-prefix}drop-down-menu-playlist {
            height: auto;
        }
    }
    .#{$name-prefix}playlist {
        margin: toem(0px);
        padding: toem(0px);
        list-style: none;
        text-align: left;
        li:nth-of-type(even){
            background: rgba(255, 255, 255, 0.2);
        }
        li {
            padding: toem(0px) toem(10px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .#{$name-prefix}play-icon {
                display: inline-block;
                width: toem(12px);
                height: toem(12px);
                vertical-align: text-top;
                margin: 0px toem(5px) 0 0;
                fill: rgba($primaryDarkColor, 0.8);
            }
            cursor: pointer;
        }
    }
    .#{$name-prefix}playlist-artist {
        color: #000;
        opacity: 0.46;
    }
    .#{$name-prefix}center-container {
        flex-grow: 1;
        position: relative;
        height: 100%;
        .#{$name-prefix}controls {
            opacity: 0;
        }
        &:hover {
            .#{$name-prefix}controls {
                opacity: 1;
            }
            .#{$name-prefix}lyric {
                opacity: 0;
            }
        }
    }
    .#{$name-prefix}controls {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include transition(opacity 0.25s ease);
        > * {
            margin-right: toem(15px);
        }
    }
    .#{$name-prefix}lyric {
        $margin-left: toem(10px);
        $margin-top: toem(5px);
        display: flex;
        align-items: center;
        position: absolute;
        width: calc(100% - #{$margin-left * 2});
        height: calc(100% - #{$margin-top * 2});
        overflow: hidden;
        margin: $margin-top $margin-left;
        font-size: toem(14px);
        @include transition(opacity 0.25s ease);
    }
    .#{$name-prefix}lyric-text {
        flex-grow: 1;
        white-space: nowrap;
        text-align: center;
        color: $TextColor;
        .#{$name-prefix}lyric-text-sub {
            display: block;
            color: $accentColor;
            font-size: toem(12px, 14px);
        }
        .#{$name-prefix}lyric-text-zoomout {
            font-size: toem(12px);
            transform: translateY(toem(1px));
            display: inline-block;
            margin: 0px toem(2px, 14px);
        }
    }
    .#{$name-prefix}progress {
        flex-basis: 100%;
        margin: toem(0px);
        opacity: 0.8;
        overflow: hidden;
        transform: scaleY(0) translateY(-100%);
        background: $backgroundColor;
        @include transition(opacity 0.3s ease, transform 0.3s ease);
        .#{$name-prefix}progress-fill {
            display: block;
            height: toem(2px);
            transform: translateX(-100%);
            background: $primaryColor;
        }
    }
    .#{$name-prefix}poster {
        width: $mainbody-height;
        height: $mainbody-height;
        background-repeat: repeat;
        background-position: 50% 50%;
        background-size: cover;
        background-origin: padding-box;
        background-attachment: scroll;
        border-right: toem(1px) solid #eee;
        background-image: url("http://p1.music.126.net/xXXsTafARePvyQUDb6q9HQ==/3386495814644488.jpg?param=200y200")
    }
    .#{$name-prefix}play-icon {
        $size: toem(12.5px);
        width:$size;
        height:$size;
        display: block;
        overflow: hidden;
        position: relative;
        .#{$name-prefix}play-icon-left {
            height: 100%;
            float: left;
            background-color: $primaryColor;
            width: 36%;
            @include transition(width 0.25s ease);
            overflow: hidden;
        }
        .#{$name-prefix}play-icon-right {
            height: 100%;
            float: right;
            background-color: $primaryColor;
            width: 36%;
            @include transition(width 0.25s ease);
            overflow: hidden;
        }
        .#{$name-prefix}play-icon-triangle-1 {
            transform: translate(0, -100%)
        }
        .#{$name-prefix}play-icon-triangle-2 {
            transform: translate(0, 100%)
        }
        .#{$name-prefix}play-icon-triangle-1,
        .#{$name-prefix}play-icon-triangle-2 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 0;
            height: 0;
            border-right: $size solid $backgroundColor;
            border-top: $size / 2 solid transparent;
            border-bottom: $size / 2 solid transparent;
            @include transition(transform 0.25s ease);
        }
        &.#{$name-prefix}play-icon-paused {
            .#{$name-prefix}play-icon-left {
                width: 50%;
            }
            .#{$name-prefix}play-icon-right {
                width: 50%;
            }
            .#{$name-prefix}play-icon-triangle-1 {
                transform: translate(0, -50%);
            }
            .#{$name-prefix}play-icon-triangle-2 {
                transform: translate(0, 50%);
            }
        }
        &.#{$name-prefix}play-icon-hover {
            .#{$name-prefix}play-icon-left {
                background-color: $primaryDarkColor;
            }
            .#{$name-prefix}play-icon-right {
                background-color: $primaryDarkColor;
            }
        }
    }
    .#{$name-prefix}play-button,
    .#{$name-prefix}volume-button,
    .#{$name-prefix}prev-button,
    .#{$name-prefix}list-button,
    .#{$name-prefix}mode-button,
    .#{$name-prefix}next-button {
        display: inline-block;
        $size: toem(12.5px);
        width: $size;
        height: $size;
        cursor: pointer;
    }
    .#{$name-prefix}volume-button {
        width: toem(20px);
        position: relative;
    }
    .#{$name-prefix}list-button {
        $size: toem(17.5px);
        width: $size;
        height: $size;
    }
    .#{$name-prefix}mode-button {
        $size: toem(19px);
        width: $size;
        height: $size;
    }
    .#{$name-prefix}play-button {
        $size: toem(30px);
        height: $size;
        width: $size;
        border: $primaryColor solid 1px;
        border-radius: 50%;
        .#{$name-prefix}play-icon.#{$name-prefix}play-icon-paused {
            margin: toem(8px);
        }
        .#{$name-prefix}play-icon {
            margin: toem(8px) toem(7.5px);
        }
        &:hover {
            border-color: $primaryDarkColor;
            @extend .#{$name-prefix}play-icon.#{$name-prefix}play-icon-hover;
        }
    }
    .#{$name-prefix}icon {
        $size: toem(12.5px);
        height: $size;
        width: $size;
        path {
            fill: $primaryColor;
        }
        &:hover {
            path {
                fill: $primaryDarkColor;
            }
        }
        &.#{$name-prefix}icon-dark {
            path {
                fill: $accentColor;
            }
            &:hover {
                path {
                    fill: $accentDarkColor;
                }
            }
        }
    }
    .#{$name-prefix}prev-icon {
        @extend .#{$name-prefix}icon;
    }
    .#{$name-prefix}next-icon {
        @extend .#{$name-prefix}icon;
        transform: rotateZ(180deg);
    }
    .#{$name-prefix}volume-icon {
        @extend .#{$name-prefix}icon;
        width: toem(20px);
    }
    .#{$name-prefix}random-icon,
    .#{$name-prefix}single-icon,
    .#{$name-prefix}loop-icon {
        @extend .#{$name-prefix}icon;
        $size: toem(19px);
        width: $size;
        height: $size;
        display: none;
    }
    .#{$name-prefix}mode-button[data-mode=listloop] .#{$name-prefix}loop-icon,
    .#{$name-prefix}mode-button[data-mode=singlecycle] .#{$name-prefix}single-icon,
    .#{$name-prefix}mode-button[data-mode=listrandom] .#{$name-prefix}random-icon {
        display: block;
    }
    .#{$name-prefix}list-icon {
        @extend .#{$name-prefix}icon;
        $size: toem(17.5px);
        width: $size;
        height: $size;
    }
    .#{$name-prefix}volume-container {
        $height: toem(25px);
        $width: toem(120px);
        position: absolute;
        left: 50%;
        top: -7px;
        height: $height;
        width: $width;
        transform: translateX(-50%) translateY(-120%);
        z-index: 1;
        visibility: hidden;
        @include box_shadow(1);
        &.#{$name-prefix}volume-container-show {
            visibility: visible;
        }
        &:hover {
            visibility: visible;
        }
        &:before {
            $size: toem(10px);
            content: '';
            width: toem(0px);
            height: toem(0px);
            display: inline-block;
            border-top: $size solid $backgroundColor;
            border-left: $size solid transparent;
            border-right: $size solid transparent;
            position: absolute;
            bottom: toem(0px);
            left: 50%;
            transform: translate(-50%,100%);
        }
        &:after {
            $size: toem(14.142135624px);
            content: '';
            width: $size;
            height: $size;
            display: inline-block;
            position: absolute;
            bottom: toem(0px);
            left: 50%;
            transform: translate(-50%,50%) rotate(45deg);
            @include box_shadow(1);
        }
        > div {
            width: 100%;
            height: 100%;
            background: $backgroundColor;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .#{$name-prefix}volume-controller {
        display: inline-block;
        $height: toem(10px);
        $width: toem(100px);
        height: $height;
        width: $width;
        border-radius: $width / 2;
        background: $accentLightColor;
        line-height: $height;
        position: relative;
        .#{$name-prefix}volume-fill {
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: $width / 2;
            background: $accentDarkColor;
        }
        .#{$name-prefix}volume-controller-button {
            $size: toem(15px);
            height: $size;
            width: $size;
            position: absolute;
            right: toem(0px);
            top: toem(-2.5px);
            display: inline-block;
            border-radius: 50%;
            border: toem(2px) solid $backgroundColor;
            background: $accentColor;
            transform: translateX(50%);
            @include box_shadow(1);
            &:hover {
                background: $accentDarkColor;
            }
        }
    }
    svg {
        vertical-align: top;
    }
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}
