$c-height:4em;
$p-height:0.5em;
$b-color:#359abc;
$p-radius:1em;

/*@keyframes changeSize{
	0%{
		width:100%;
		height:100%;
		top:0;
		left:0;
	}
	100%{
		width:200%;
		height:200%;
		top:-50%;
		left:-50%;
	}
}*/

@mixin progress($type:time){
	touch-action: none;
	pointer-events: auto;
	cursor: pointer;
	.#{$type}-body{
		margin: 0 1%;
		height:$p-height;
		background-color:#ccc;
		display:flex;
		border-radius:0.5em;
		.#{$type}-line{
			width:0%;
			height:100%;
			background-color:$b-color;
			will-change:width;
			transition:0.1s width ease-in;
			position: relative;
			border-radius:0.5em;
			.#{$type}-point{
				width:$p-radius;
				height:$p-radius;
				margin:-0.25em -0.5em 0 0;
				background-color:lighten($b-color,20%);
				border-radius: 100%;
				position: absolute;
				right:0;
				/**&::before{
					content:"";
					display:block;
					width:0;
					height:0;
					position: absolute;
					top:50%;
					left:50%;
					background-color:rgba($b-color,.5);
					animation:changeSize 1s ease-in-out infinite alternate;
					border-radius: 100%;
				}**********/
			}
		}
	}
}
@mixin big-button{
	width:0.8*$c-height;
	height:0.8*$c-height;
	border-radius:100%;
	background-color:lighten($b-color,20%);
	color:white;
	cursor:pointer;
}
@mixin small-button{
	display:flex;
	width:100%;
	height:100%;
	border-radius: 10%;
	color:grey;
	transition:all 0.2s ease-in;
	cursor:pointer;
	&:hover,&:active{
		background:rgba(117,117,117,.3);
	}
	.material-icons{
		margin:auto;
	}
}

c-player{
	svg{
		width:100%;
		height:100%;
		fill:#333;
		display:block;
	}
	.play-icon svg{
		fill:white;
		width:80%;
		height:80%;
	}
	.invisible{
		height:0!important;
		overflow: hidden!important;
		max-height: 0!important;
		min-height: 0!important;
	}
	display:flex;
	flex-direction: column;
	* {
		font-family: "Ubuntu Mono","微软雅黑","Microsoft JHenghei",sans-serif;
	    text-decoration: none;
	    font-size: initial;
	    line-height:initial;
	}
	.lyric{
		will-change:height;
		transition:all 0.25s;
		display:flex;
		height:20em;
		height:45vh;
		width:100%;
		background:#eee;
		overflow:hidden;
		lyric-body{
			will-change:transform;
			display:block;
			//display:flex;
			flex-direction: column;
			width:100%;
			height:100%;
			text-align: center;
			//padding:6em 0;
			transform:translateY(6em);
			//transition: all 0.25s;
			lrc{
				flex:1;
				display:block;
				will-change:background;
				line-height:3em;
				min-height:3em;
				font-size:large;
				font-family: "LiHei Pro","Microsoft Yahei",sans-serif;
				width:100%;
				//transition:0.25s background ease;
				&.now{
					background:#ddd;
				}
			}
		}
	}
	.controls{
		background: white;
		height:$c-height;
		display:flex;
		.c-left{
			display:flex;
			.music-description{
				display:flex;
				.image,.image img{
					height:$c-height;
					width:$c-height;
					&:hover + .music-meta{
						max-width: 9999px;
						//margin:0 0.5em;
					}
				}
				.music-meta{
					margin:0 0.5em;
					flex:1;
					max-width:0;
					width:auto;
					display:flex;
					overflow: hidden;
					flex-direction: column;
					height: 100%;
					transition: 1.5s all 0.5s ease-in;
					div{
						display:flex;
						width:100%;
						height:100%;
						justify-content:center;
						align-items:center;
						flex-direction:column;
					}
					.music-name{
						font-size: 1.5em;
						white-space: nowrap;
					}
					.music-artist{
						font-size:0.7em;
						color:grey;
						white-space: nowrap;
					}
				}
			}
			.play-icon{
				display:flex;
				align-items:center;
				justify-content:center;
				margin:auto 0.5em;
				@include big-button();
			}
		}
		.c-center{
			@media screen and (max-width: 600px) {
				&{
					display:none;
				}
			}
			flex:1;
			width:auto;
			display:flex;
			align-items:center;
			padding:0.5em;
			.time{
				width:100%;
				@include progress(time);
			}
		}
		.c-right{
			@media screen and (max-width: 600px) {
				&{
					flex:1;
					.volume{
						width:auto !important;
						.volume-body{visibility: hidden!important}
					}
				}
				&.hover{
					.list-button,
					.lyric-button{
						display:none;
					}
					.volume-body{
						width:100% !important;
						visibility: visible !important;
					}
					.volume{
						width:100% !important;
					}
				}
			}
			display:flex;
			justify-content: center;
		    align-items: center;
			&>*{
				width:2em;
				height:2em;
				margin:0 0.5em;
				display:flex;
			}
			.volume{
				align-items:center;
				@include progress(volume);
				transition: width 0.2s;
				.volume-body{
					visibility: hidden;
					width:0;
					transition: width 0.2s;
				}
				&:hover,&:active{
					width:12em;
					.volume-body{
						visibility: visible;
						width:100%;
					}
				}
				.volume-button{
					width:2em;
					height:2em;
					.volume-power{
						@include small-button();
					}
				}
			}
			.list-button{
				.list-power{
					@include small-button();
				}
			}
			.lyric-button{
				.lyric-power{
					@include small-button();
				}
			}
		}
	}
	.list{
		will-change:height;
		transition:all 0.25s;
		//min-height: 45vh;
		max-height: 75vh;
		background:white;
		overflow:auto;
		list-body{
			display: flex;
			flex-direction: column;
			overflow: hidden;
			&>*{
				display:flex;
				align-items:center;
				flex:1;
				cursor:pointer;
				transition: 0.5s background 0s ease;
				&:nth-child(2n-1){
					background:rgba(117,117,117,0.04);
				}
				&:hover,&:active{
					background:rgba(117,117,117,0.13);
					&::before{
						width:0.4em;
					}
				}
				&::before{
					background:lighten($b-color,20%);
					transition:0.2s width 0s ease;
					float:left;
					height:2.5em;
					width:0em;
					display:block;
					content:"";
					@media screen and (max-width: 800px){
						&{
							height:3em;
							&:hover,&:active{
								&::before{
									width:0.4em;
								}
							}
						}
					}
				}
			}
			.music-name , .music-artist{
				padding:0 0.5em;
			}
			.music-name{
				flex:1;
			}
		}
	}
}
	.c-context{
		z-index:9999;
		position:absolute;
		display:inline-flex;
		min-width:5em;
		height:auto;
		flex-direction:column;
		background: #fff;
		box-shadow: 0 0 3em -1em #000;
	}
	.c-context--list{
		display:flex;
		flex:1;
		min-height:2em;
		padding:1em;
		box-sizing:border-box;
		transition:background 0.5s;
		will-change:background;
		cursor:pointer;
	}
	.c-context--list:hover{
		background: #6af;
	}